:root{
    --font-size: 10px;
    --header-bg-color: rgb(16, 19, 18);
    --header-text-color:rgb(0,200,200);
    --main-bg-color: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 10000px;
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font-size);
    background-color: var(--main-bg-color);
}

.thin{
    font-weight: 100;
}
.bold{
    font-weight: 600;
}

nav{
    position: fixed;
    color: var(--header-text-color);
    z-index: 10;
    font-size: 2em;
    width: 100%;
}
nav ul{
    display: flex;
    gap: 3em;
    list-style: none;
    margin: 20px;
    padding: 15px 30px;
    border-radius: 500px;
    background-color: var(--header-bg-color);
}
a{
    cursor: pointer;
}
header{
    transition: all 2s ease;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -100vw;
    background-color: var(--header-bg-color);
    color: var(--header-text-color);

}
.header-content{
    width: 80%;
    margin: 0 auto;
}
.title{
    position: absolute;
    font-weight: 300;
    font-size: 8em;
    top: -200px; /* Animated elements must have top value*/
    opacity: 0;
    transition: all .5s ease;
}
.title-name{
    position: absolute;
    font-weight: 600;
    font-size: 8em;
    opacity: 0;
    top: -200px;
    transition: all .5s ease;
}
.hero-desc{
    position: absolute;
    font-size: 8.2em;
    top: 400px;
    font-weight: 100;
    z-index: 100;
}
.start-hero{
    left: 0;
}
.start-title{
    top: 200px;
    opacity: 1;
}
.start-name{
    top: 300px;
    opacity: 1;
}

.section-2{
    position: relative;
    width: 80vw;
    margin: 0 auto;
    z-index: -1;
    top:800px;
    left: 100vw;
    padding: 3em;
    transition: left 2s;
}
.start-section-2{
    position: relative;
    top: 800px;
    left: 0;
}
.section-2 h2{
    font-size: 4em;
    font-weight: 600;
}
.section-2 p{
    font-size: 2em;
    margin-top: 2em;
    line-height: 1.5em;
}

.hero-img-container{
    position: absolute;
    width: 100%;
    height: 30vh;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, var(--header-bg-color) , rgba(0,0,0,0) ),
    url("https://images.unsplash.com/photo-1594904351111-a072f80b1a71?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" );
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
}
.hero-img-container img{
    width: inherit;
    bottom:0;
}

@media screen and (max-width: 720px) {
    header{
        flex-direction: column;
        gap: 5px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .title{
        font-size: 5em;
    }
    .start-title{
        top: 100px;
    }
    .title-name{
        font-size: 5em;
    }
    .hero-desc{
        top: 280px;
        font-size: 4em;
    }
    .start-name{
        top: 150px;
    }
}

@media screen and (min-width: 1024px){
    .header-content{
        width: 50%;
        /* border: 2px dotted green; */
    }
    .section-2{
        width: 50%;
        margin: 0 auto;
    }
}