.sw-hero{
    left: 0;
}
.sw-title{
    top: 10vh;
    opacity: 1;
}
.sw-name{
    top: 22vh;
    opacity: 1;
}

.sw-section-2{
    left: 0;
}

@media screen and (max-width: 720px) {
    
    .sw-title{
        top: 10vh;
        font-size: 2.4rem;
    }
    .sw-name{
        top: 22vh;
        font-size: 2.4rem;
    }

}